.website_text {
  font-weight: 500;
  font-family: "archivo";
}
.website_logo {
  position: relative;
  width: 40px;
  height: 40px;
}
.main {
  /* box-shadow: 0.1px 0.1px 5px #000000; */
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 10px;
  /* background-color: #1d2128; */
  /* color: #ffff; */
}

.footerLine {
  width: 100vw;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: darkgrey;
  border-radius: 50%;
  display: none;
}
